In [3]:
n=int(input("Enter the number of rows: ")) 
for i in range(1,n+1): 
    print("*"* n)

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

## Pattern-2: 
1 1 1 1 1 1 1 1 1 1 <br>
2 2 2 2 2 2 2 2 2 2 <br>
3 3 3 3 3 3 3 3 3 3 <br>
4 4 4 4 4 4 4 4 4 4 <br>
5 5 5 5 5 5 5 5 5 5 <br>
6 6 6 6 6 6 6 6 6 6 <br>
7 7 7 7 7 7 7 7 7 7 <br>
8 8 8 8 8 8 8 8 8 8 <br>
9 9 9 9 9 9 9 9 9 9 <br>
10 10 10 10 10 10 10 10 10 10

In [23]:
n = int(input("Enter The NUmber of rows"))
for i in range(1 , n+1):
    for j in range(1 , n+1):
        print(i,end="")
    print()

1111111111
2222222222
3333333333
4444444444
5555555555
6666666666
7777777777
8888888888
9999999999
10101010101010101010

# Pattern-3: 
1 2 3 4 5 6 7 8 9 10 <br>
1 2 3 4 5 6 7 8 9 10 <br>
1 2 3 4 5 6 7 8 9 10 <br>
1 2 3 4 5 6 7 8 9 10 <br>
1 2 3 4 5 6 7 8 9 10 <br>
1 2 3 4 5 6 7 8 9 10 <br>
1 2 3 4 5 6 7 8 9 10 <br>
1 2 3 4 5 6 7 8 9 10 <br>
1 2 3 4 5 6 7 8 9 10 <br>
1 2 3 4 5 6 7 8 9 10 <br>

In [24]:
n = int(input("Enter The NUmber of rows"))
for i in range(1 , n+1):
    for j in range(1 , n+1):
        print(j,end="")
    print()

12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910

# Pattern-4: 
A A A A A A A A A A <br>
B B B B B B B B B B <br>
C C C C C C C C C C <br>
D D D D D D D D D D <br>
E E E E E E E E E E <br>
F F F F F F F F F F <br>
G G G G G G G G G G <br>
H H H H H H H H H H <br>
I I I I I I I I I I <br>
J J J J J J J J J J <br>

In [6]:
n = int(input("Enter The NUmber of rows"))
for i in range(1 , n+1):
    for j in range(1 , n+1):
        print(chr(64+i),end="")
    print()

AAAAAAAAAA
BBBBBBBBBB
CCCCCCCCCC
DDDDDDDDDD
EEEEEEEEEE
FFFFFFFFFF
GGGGGGGGGG
HHHHHHHHHH
IIIIIIIIII
JJJJJJJJJJ

# Pattern-5: 
A B C D E F G H I J <br>
A B C D E F G H I J <br>
A B C D E F G H I J <br>
A B C D E F G H I J <br>
A B C D E F G H I J <br>
A B C D E F G H I J <br>
A B C D E F G H I J <br>
A B C D E F G H I J <br>
A B C D E F G H I J <br>
A B C D E F G H I J <br>

In [8]:
n = int(input("Enter The NUmber of rows"))
for i in range(1 , n+1):
    for j in range(1 , n+1):
        print(chr(64+j),end="")
    print()

ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ
ABCDEFGHIJ

# Pattern-6: 
10 10 10 10 10 10 10 10 10 10 <br>
9 9 9 9 9 9 9 9 9 9 <br>
8 8 8 8 8 8 8 8 8 8<br>
7 7 7 7 7 7 7 7 7 7<br>
6 6 6 6 6 6 6 6 6 6 <br>
5 5 5 5 5 5 5 5 5 5 <br>
4 4 4 4 4 4 4 4 4 4 <br>
3 3 3 3 3 3 3 3 3 3 <br>
2 2 2 2 2 2 2 2 2 2 <br>
1 1 1 1 1 1 1 1 1 1 <br>

In [14]:
n = int(input("Enter The NUmber of rows"))
for i in range(1 , n+1):
    for j in range(1 , n+1):
        print(n + 1 -i ,end="")
    print()

10101010101010101010
9999999999
8888888888
7777777777
6666666666
5555555555
4444444444
3333333333
2222222222
1111111111

# Pattern-6:
10 9 8 7 6 5 4 3 2 1 <br>
10 9 8 7 6 5 4 3 2 1 <br>
10 9 8 7 6 5 4 3 2 1 <br>
10 9 8 7 6 5 4 3 2 1 <br>
10 9 8 7 6 5 4 3 2 1 <br>
10 9 8 7 6 5 4 3 2 1 <br>
10 9 8 7 6 5 4 3 2 1 <br>
10 9 8 7 6 5 4 3 2 1 <br>
10 9 8 7 6 5 4 3 2 1 <br>
10 9 8 7 6 5 4 3 2 1 <br>

In [15]:
n = int(input("Enter The NUmber of rows"))
for i in range(1 , n+1):
    for j in range(1 , n+1):
        print(n + 1 -j ,end="")
    print()

10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321
10987654321

# Pattern-7:
J J J J J J J J J J <br>
I I I I I I I I I I <br>
H H H H H H H H H H <br>
G G G G G G G G G G <br>
F F F F F F F F F F <br>
E E E E E E E E E E <br>
D D D D D D D D D D <br>
C C C C C C C C C C <br>
B B B B B B B B B B <br>
A A A A A A A A A A <br>

In [18]:
n = int(input("Enter The NUmber of rows"))
for i in range(1 , n+1):
    for j in range(1 , n+1):
        print(chr (65 + n -i) ,end="")
    print()

JJJJJJJJJJ
IIIIIIIIII
HHHHHHHHHH
GGGGGGGGGG
FFFFFFFFFF
EEEEEEEEEE
DDDDDDDDDD
CCCCCCCCCC
BBBBBBBBBB
AAAAAAAAAA

# Pattern-8:
J I H G F E D C B A <br>
J I H G F E D C B A <br>
J I H G F E D C B A <br>
J I H G F E D C B A <br>
J I H G F E D C B A <br>
J I H G F E D C B A <br>
J I H G F E D C B A <br>
J I H G F E D C B A <br>
J I H G F E D C B A <br>
J I H G F E D C B A <br>

In [19]:
n = int(input("Enter The NUmber of rows"))
for i in range(1 , n+1):
    for j in range(1 , n+1):
        print(chr (65 + n -j) ,end="")
    print()

JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA
JIHGFEDCBA

# Pattern 9

In [25]:
# Code 1
n = int(input("Enter The NUmber of rows"))
for i in range(1 , n+1):
    for j in range(1 , i+1):
        print ("*" ,end="") 
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [27]:
# Code 2
n=int(input("Enter the number of rows: ")) 
for i in range(1,n+1): 
    print("*"* i)

*
**
***
****
*****
******
*******
********
*********
**********

# Pattern-10:
1 <br>
2 2 <br>
3 3 3 <br>
4 4 4 4 <br>
5 5 5 5 5 <br>
6 6 6 6 6 6 <br>
7 7 7 7 7 7 7 <br>
8 8 8 8 8 8 8 8 <br>
9 9 9 9 9 9 9 9 9 <br>
10 10 10 10 10 10 10 10 10 10 <br>

In [28]:
n = int(input("Enter The NUmber of rows"))
for i in range(1 , n+1):
    for j in range(1 , i+1):
        print (i ,end="") 
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010